* {
  background: black;
  background-color: white;
  width: 1440px;
  height: 2900px;
  font-family:"Karla";
  display: flexbox;
  flex-wrap: wrap;
  align-items: flex-start;
   }

  /* Home */
 Home {
  color: 'rgba(0, 0, 0, 0.20)';
  font-size: 20;
  font-family: "Karla";
  font-weight: '500';
  text-transform: 'capitalize';
  word-wrap: 'break-word';
 }


/* About */
 About {
  color: 'rgba(0, 0, 0, 0.20)';
  font-size: 20;
  font-family: 'Karla';
  font-weight: '500';
  text-transform: 'capitalize';
  word-wrap: 'break-word';
 }

/* menu */
menu {
  color: 'black';
  font-size: 20;
  font-family: 'Karla';
  font-weight: '500';
  text-transform: 'capitalize';
  word-wrap: 'break-word';
}


/*reservations */
reservation {
  color: 'black';
  font-size: 20;
  font-family: 'Karla';
 font-weight: '500';
 text-transform: 'capitalize';
 word-wrap: 'break-word';
}


/* order online */

orderOnline {
  color: 'black';
  font-size: 20;
  font-family: 'Karla';
  font-weight: '500';
  text-transform: 'capitalize';
  word-wrap: 'break-word';
}


/*  login */

login {
  color: '#1E1E1E';
  font-size: 20;
  font-family: 'Karla';
  font-weight: '500';
  text-transform: 'capitalize';
  word-wrap: 'break-word';
}






export default styles.css;


